<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
  <connectionStrings>
    <add name="Gemini" connectionString="Data Source=GeminiSQL;Initial Catalog=Gemini;User ID=gemini;Password=Para501it;Application Name=backlog" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="GEMINI_USER_IDS" value="81,33,54,7,40,32,36,60,74,89"/>
    <add key="GEMINI_DEV_USER_IDS" value="81,33,54,74,91"/>
    <add key="GEMINI_VIEW_ISSUE_URI" value="http://intranet.parasolit.co.uk/Gemini/issue/ViewIssue.aspx?id={0}&amp;PROJID={1}"/>
  </appSettings>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
</configuration>
